In [1]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [2]:
def get_jobs(keyword, num_jobs, verbose, path, sleep_time):
    
    '''Gathers jobs as a dataframe, scraped from Glassdoor'''
    
    #Initializing the webdriver
    options = webdriver.ChromeOptions()
    
    #Uncomment the line below if you'd like to scrape without a new Chrome window every time.
    #options.add_argument('headless')
    
    #Change the path to where chromedriver is in your home folder.
    driver = webdriver.Chrome(executable_path=path, options=options)
    driver.set_window_size(1120, 1000)
    url = 'https://www.glassdoor.co.uk/Job/' + keyword + '-jobs-SRCH_KO0,14.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword=' + keyword + '&typedLocation=&context=Jobs&dropdown=0'
#     url = 'https://www.glassdoor.com/Job/jobs.htm?sc.keyword="' + keyword + '"&locT=C&locId=1147401&locKeyword=San%20Francisco,%20CA&jobType=all&fromAge=-1&minSalary=0&includeNoSalaryJobs=true&radius=100&cityId=-1&minRating=0.0&industryId=-1&sgocId=-1&seniorityType=all&companyId=-1&employerSizes=0&applicationType=0&remoteWorkType=0'
    driver.get(url)
    jobs = []

    while len(jobs) < num_jobs:  #If true, should be still looking for new jobs.

        #Let the page load. Change this number based on your internet speed.
        #Or, wait until the webpage is loaded, instead of hardcoding it.
        time.sleep(sleep_time)

        
        #Going through each job in this page
        job_buttons = driver.find_elements(By.CLASS_NAME, "react-job-listing")  #jl for Job Listing. These are the buttons we're going to click.
        for job_button in job_buttons:  
            print("Progress: {}".format("" + str(len(jobs)) + "/" + str(num_jobs)))

            job_button.click()  #You might 
            time.sleep(1)
            collected_successfully = False
            
            #Test for the "Sign Up" prompt and get rid of it.
            try:
                driver.find_element(By.CLASS_NAME, "selected").click()
            except ElementClickInterceptedException:
                pass

            time.sleep(.1)

            try:
                driver.find_element(By.CLASS_NAME, "modal_closeIcon-svg").click()  #clicking to the X.
            except NoSuchElementException:
                pass
            if len(jobs) >= num_jobs:
                break
            while not collected_successfully: 
                try:
                    company_name = driver.find_element(By.XPATH, '//div[@class="css-xuk5ye e1tk4kwz5"]').text
                    location = driver.find_element(By.XPATH, '//div[@class="css-56kyx5 e1tk4kwz1"]').text
                    job_title = driver.find_element(By.XPATH, '//div[@class="css-1j389vi e1tk4kwz2"]').text
                    job_description = driver.find_element(By.XPATH, '//div[@class="jobDescriptionContent desc"]').text
                    collected_successfully = True
                    print("success")
                except:
                    print("no success")
                    time.sleep(5)

            try:
                salary_estimate = driver.find_element(By.XPATH, '//span[@class="css-1hbqxax e1wijj240"]').text
            except NoSuchElementException:
                salary_estimate = -1 #You need to set a "not found value. It's important."
            
            try:
                rating = driver.find_element(By.XPATH, '//span[@class="css-1m5m32b e1tk4kwz4"]').text
            except NoSuchElementException:
                rating = -1 #You need to set a "not found value. It's important."

            #Printing for debugging
            if verbose:
                print("Job Title: {}".format(job_title))
                print("Salary Estimate: {}".format(salary_estimate))
                print("Job Description: {}".format(job_description[:500]))
                print("Rating: {}".format(rating))
                print("Company Name: {}".format(company_name))
                print("Location: {}".format(location))

            #Going to the Company tab...
            #clicking on this:
            #<div class="tab" data-tab-type="overview"><span>Company</span></div>
            try:
                driver.find_element(By.XPATH, '//div[@class="tab" and @data-tab-type="overview"]').click()

                try:
                    #<div class="infoEntity">
                    #    <label>Headquarters</label>
                    #    <span class="value">San Francisco, CA</span>
                    #</div>
                    headquarters = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Headquarters"]//following-sibling::*').text
                except NoSuchElementException:
                    headquarters = -1

                try:
                    size = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Size"]//following-sibling::*').text
                except NoSuchElementException:
                    size = -1

                try:
                    founded = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Founded"]//following-sibling::*').text
                except NoSuchElementException:
                    founded = -1

                try:
                    type_of_ownership = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Type"]//following-sibling::*').text
                except NoSuchElementException:
                    type_of_ownership = -1

                try:
                    industry = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Industry"]//following-sibling::*').text
                except NoSuchElementException:
                    industry = -1

                try:
                    sector = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Sector"]//following-sibling::*').text
                except NoSuchElementException:
                    sector = -1

                try:
                    revenue = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Revenue"]//following-sibling::*').text
                except NoSuchElementException:
                    revenue = -1

                try:
                    competitors = driver.find_element(By.XPATH, '//div[@class="infoEntity"]//label[text()="Competitors"]//following-sibling::*').text
                except NoSuchElementException:
                    competitors = -1

            except NoSuchElementException:  #Rarely, some job postings do not have the "Company" tab.
                headquarters = -1
                size = -1
                founded = -1
                type_of_ownership = -1
                industry = -1
                sector = -1
                revenue = -1
                competitors = -1

                
            if verbose:
                print("Headquarters: {}".format(headquarters))
                print("Size: {}".format(size))
                print("Founded: {}".format(founded))
                print("Type of Ownership: {}".format(type_of_ownership))
                print("Industry: {}".format(industry))
                print("Sector: {}".format(sector))
                print("Revenue: {}".format(revenue))
                print("Competitors: {}".format(competitors))
                print("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")

            jobs.append({"Job Title" : job_title,
            "Salary Estimate" : salary_estimate,
            "Job Description" : job_description,
            "Rating" : rating,
            "Company Name" : company_name,
            "Location" : location,
            "Headquarters" : headquarters,
            "Size" : size,
            "Founded" : founded,
            "Type of ownership" : type_of_ownership,
            "Industry" : industry,
            "Sector" : sector,
            "Revenue" : revenue,
            "Competitors" : competitors})
            #add job to jobs

        #Clicking on the "next page" button
        try:
            driver.find_element(By.XPATH, '//li[@class="next"]//a').click()
        except NoSuchElementException:
            print("Scraping terminated before reaching target number of jobs. Needed {}, got {}.".format(num_jobs, len(jobs)))
            break

    return pd.DataFrame(jobs)  #This line converts the dictionary object into a pandas DataFrame.

In [3]:
path = "/Users/gurpa/Documents/data-science/projects/salary_predictor/chromedriver"
df = get_jobs('data scientist', 15, True, path, 15)

C:\Users\gurpa\AppData\Local\Temp\ipykernel_40116\660748801.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=path, options=options)

Progress: 0/15
success
Job Title: Data Scientist
Salary Estimate: Employer Provided Salary:£50 - £60 Per Hour
Job Description: CK Group is recruiting for a Data Scientist on a 12 month contract basis to join a leading multinational biopharmaceutical company. The role has been deemed to be outside IR35 and working options of Ltd company, umbrella and PAYE via CK Group are all available.

RESPONSIBILITIES:
As Data Scientist you will:
Lead, design, develop, execute and deliver the optimal high quality data integration solutions needed for clinical trial and biomarker data exploration to support successful strategic decisio
Rating: 5.0
Company Name: CK Group
5.0
Location: Welwyn Garden City, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 1/15
success
Job Title: Data Scientist
Salary Estimate: Employer Provided Salary:£40K - £65K
Job Description: YouLend is the preferred embedded financing platform for many of the world’s leading e-commerce platforms, tech companies and payment services providers. Our software platform enables our partners to offer flexible financing products in their own branding to their merchant base without capital at risk. We believe that financial services in the future will be delivered not primarily by banks, but by customer-oriented tech companies that embed financing within other product suites, and we are here
Rating: 4.4
Company Name: YouLend
4.4
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 2/15
success
Job Title: NLP Data Scientist
Salary Estimate: Employer Provided Salary:£65K - £75K
Job Description: NLP Data Scientist (Python SQL) *Hybrid WfH*. Are you a tech savvy Data Scientist with strong NLP knowledge seeking an opportunity to progress your career?
You could be joining a fast growing Ad-Tech start-up that is revolutionising on-line advertising with it's non-invasive no cookie advertising platform; they have secured several, global big name clients and have a serious amount of funding.
As an NLP Data Scientist you will join a small team responsible for fully automating the execution and
Rating: 3.9
Company Name: client server
3.9
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 3/15
success
Job Title: Senior Scientist in Data Assimilation
Salary Estimate: Employer Provided Salary:£52K
Job Description: Our reward package
We're looking for an exceptional Senior Scientist in Data Assimilation to help us make a difference to our planet.
Our Senior Scientist in Data Assimilation will based in Exeter HQ with hybrid remote working.
Why join us?
We provide critical weather services and world-leading climate science to deliver extraordinary impact and benefit across the globe. Our work helps people make better decisions to stay safe and thrive.
As our Senior Scientist in Data Assimilation , your start
Rating: 4.1
Company Name: Met Office
4.1
Location: Exeter, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 4/15
success
Job Title: Data Scientist/DE
Salary Estimate: Employer Provided Salary:£40K - £50K
Job Description: Fuelled by a fundamental belief that having access to financial decisions for climate impact, CarbonLaces is committed to democratising financial services and empowering people and businesses to join and thrive in a truly sustainable world CarbonLaces is a new results-based Climate Finance platform. It maps carbon emissions and recommends actions to reduce the environmental impact through the use of technology and carbon exchange. The company is building a non-profit and a for-profit business an
Rating: 4.4
Company Name: CarbonLaces
4.4
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 5/15
success
Job Title: Foundation Scientist in Data Assimilation
Salary Estimate: Employer Provided Salary:£34K
Job Description: Our reward package
We're looking for an exceptional Foundation Scientist in Data Assimilation to help us make a difference to our planet.
Our Foundation Scientist in Data Assimilation will based in Exeter HQ with hybrid remote working.
Why join us?
We provide critical weather services and world-leading climate science to deliver extraordinary impact and benefit across the globe. Our work helps people make better decisions to stay safe and thrive.
Rating: 4.1
Company Name: Met Office
4.1
Location: Exeter, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 6/15
success
Job Title: Scientist in Data Assimilation
Salary Estimate: Employer Provided Salary:£43K
Job Description: Our reward package
We're looking for an exceptional Scientist in Data Assimilation to help us make a difference to our planet.
Our Scientist in Data Assimilation will based in Exeter HQ with hybrid remote working.
Why join us?
We provide critical weather services and world-leading climate science to deliver extraordinary impact and benefit across the globe. Our work helps people make better decisions to stay safe and thrive.
As our Scientist in Data Assimilation , your starting salary will be £3
Rating: 4.1
Company Name: Met Office
4.1
Location: Exeter, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 7/15
success
Job Title: Junior Data Scientist
Salary Estimate: Employer Provided Salary:£23K - £30K
Job Description: This role pays up to £30k (dependent on experience) + Bonus up to 20% of salary
We are also in the trial stage of a 32 hour working week. Our office is based in Kew Gardens.
About Us:
Over the past 40 years, we have specialised in statistical, econometric and forecasting applications, software sales, training programmes and consultancy solutions.
You will handle the overall responsibility for sales, promotional and marketing plans in order to deliver sales, and represent our brand internationall
Rating: 3.0
Company Name: Inspiring Interns
3.0
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 8/15
success
Job Title: Senior Data Scientist
Salary Estimate: Employer Provided Salary:£60K - £70K
Job Description: The Company
A well-funded and exciting start-up, specialising in delivering geolocational analytics solutions to several clients across the Retail and Real Estate sectors. With their product already a revenue-making tool, they have ambitious growth targets to become a dominant player within this field and with that, aim to build capabilities in new countries and sectors over the coming years.
The Role
As a Senior Data Scientist, you will be responsible for leading the development of the product
Rating: -1
Company Name: Metrica Recruitment
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 9/15
success
Job Title: Data Scientist - R& Python
Salary Estimate: Employer Provided Salary:£35K - £40K
Job Description: The Company
A well-established location strategy and analytics consultancy, delivering geographically focused analysis and insights to clients across the UK and further afield. This organisation collaborates with leading companies across a number of different industries; including but not limited to, retail, leisure, central government & automotive.
The Role
As a data scientist, you will be responsible for utilising the most cutting edge data techniques to deliver bespoke solutions to both inter
Rating: -1
Company Name: Metrica Recruitment
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 10/15

success
Job Title: Data Scientist
Salary Estimate: Employer Provided Salary:£40K - £55K
Job Description: Salary will be completely negotiable and dependent on relevant background and experience and will include significant company benefits.
The client, a growing technology business with lots of opportunity to develop a career and based in central Manchester are seeking a Data Scientist to join their team at this exciting time of growth
This is a great opportunity to work on some exciting short and long term projects of a varied and interesting nature, in a business that is continuing to grow and ev
Rating: -1
Company Name: Marstep
Location: Manchester, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 11/15
success
Job Title: Apprentice (Degree Level) Data Scientist
Salary Estimate: Employer Provided Salary:£34K
Job Description: Do you have a passion for how data can be used to tell a story, inform decisions and improve the care we provide?

Are you looking for the next step in your career?

We have an exciting and unique opportunity for someone who has substantial data analytical experience and skills who is looking to forge a career in data science.

The successful candidate will receive the following support and development into the role:
Fully funded four-year BSc (Hons) Data Science degree apprenticeship. Allocated
Rating: 3.8
Company Name: Cambridgeshire Community Services NHS Trust
3.8
Location: Saint Ives, East of England, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 12/15
success
Job Title: Junior Data Scientist
Salary Estimate: Employer Provided Salary:£26K
Job Description: General information
Reference
000788
Publication start date
27/06/2022
Post Description
Junior Data Scientist
Rating: 3.6
Company Name: UCAS
3.6
Location:
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 13/15
success
Job Title: Data Scientist
Salary Estimate: Employer Provided Salary:£50K - £60K
Job Description: Data Scientist 039192
Organisation - Customers, Communication and Technology
Job - Data Analytics
Position Type - Full Time

Job Title: Data Scientist
Salary: £50k-£60k Plus Excellent Benefits
Contract: TfL
Duration: Permanent
Position type: Part-time/full-time
Location: Hybrid (Remote/Currently North Greenwich)
Job Purpose:
Rating: 3.9
Company Name: Transport for London
3.9
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 14/15
success
Job Title: Data Scientist - Intelligence Services
Salary Estimate: Employer Provided Salary:£57K - £71K
Job Description: End Date
Friday 15 July 2022
Salary Range
£57,048 - £71,310

Agile Working Options
Flexible / Variable Hours
Job Description Summary
As below:
Job Description
An exciting opportunity has arisen to join the Intelligence Services team within the Chief Security Office (CSO). CSO plays a vital role in delivering Lloyds Banking Group's vision of putting customers at the heart of everything we do, helping Britain prosper, and protecting the Group, its customers and suppliers from security threats. It'
Rating: 3.9
Company Name: Lloyds Banking Group
3.9
Location: London, England
Headquarters: -1
Size: -1
Founded: -1
Type of Ownership: -1
Industry: -1
Sector: -1
Revenue: -1
Competitors: -1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Progress: 15/15
Scraping terminated before reaching target number of jobs. Needed 15, got 15.

In [4]:
display(df)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,Employer Provided Salary:£50 - £60 Per Hour,CK Group is recruiting for a Data Scientist on...,5.0,CK Group\n5.0,"Welwyn Garden City, England",-1,-1,-1,-1,-1,-1,-1,-1
1,Data Scientist,Employer Provided Salary:£40K - £65K,YouLend is the preferred embedded financing pl...,4.4,YouLend\n4.4,"London, England",-1,-1,-1,-1,-1,-1,-1,-1
2,NLP Data Scientist,Employer Provided Salary:£65K - £75K,NLP Data Scientist (Python SQL) *Hybrid WfH*. ...,3.9,client server\n3.9,"London, England",-1,-1,-1,-1,-1,-1,-1,-1
3,Senior Scientist in Data Assimilation,Employer Provided Salary:£52K,Our reward package\nWe're looking for an excep...,4.1,Met Office\n4.1,"Exeter, England",-1,-1,-1,-1,-1,-1,-1,-1
4,Data Scientist/DE,Employer Provided Salary:£40K - £50K,Fuelled by a fundamental belief that having ac...,4.4,CarbonLaces\n4.4,"London, England",-1,-1,-1,-1,-1,-1,-1,-1
5,Foundation Scientist in Data Assimilation,Employer Provided Salary:£34K,Our reward package\nWe're looking for an excep...,4.1,Met Office\n4.1,"Exeter, England",-1,-1,-1,-1,-1,-1,-1,-1
6,Scientist in Data Assimilation,Employer Provided Salary:£43K,Our reward package\nWe're looking for an excep...,4.1,Met Office\n4.1,"Exeter, England",-1,-1,-1,-1,-1,-1,-1,-1
7,Junior Data Scientist,Employer Provided Salary:£23K - £30K,This role pays up to £30k (dependent on experi...,3.0,Inspiring Interns\n3.0,"London, England",-1,-1,-1,-1,-1,-1,-1,-1
8,Senior Data Scientist,Employer Provided Salary:£60K - £70K,The Company\nA well-funded and exciting start-...,-1,Metrica Recruitment,"London, England",-1,-1,-1,-1,-1,-1,-1,-1
9,Data Scientist - R& Python,Employer Provided Salary:£35K - £40K,The Company\nA well-established location strat...,-1,Metrica Recruitment,"London, England",-1,-1,-1,-1,-1,-1,-1,-1
10,Data Scientist,Employer Provided Salary:£40K - £55K,Salary will be completely negotiable and depen...,-1,Marstep,"Manchester, England",-1,-1,-1,-1,-1,-1,-1,-1
11,Apprentice (Degree Level) Data Scientist,Employer Provided Salary:£34K,Do you have a passion for how data can be used...,3.8,Cambridgeshire Community Services NHS Trust\n3.8,"Saint Ives, East of England, England",-1,-1,-1,-1,-1,-1,-1,-1
12,Junior Data Scientist,Employer Provided Salary:£26K,General information\nReference\n000788\nPublic...,3.6,UCAS\n3.6,,-1,-1,-1,-1,-1,-1,-1,-1
13,Data Scientist,Employer Provided Salary:£50K - £60K,Data Scientist 039192\nOrganisation - Customer...,3.9,Transport for London\n3.9,"London, England",-1,-1,-1,-1,-1,-1,-1,-1
14,Data Scientist - Intelligence Services,Employer Provided Salary:£57K - £71K,End Date\nFriday 15 July 2022\nSalary Range\n£...,3.9,Lloyds Banking Group\n3.9,"London, England",-1,-1,-1,-1,-1,-1,-1,-1